@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Philosopher:ital,wght@1,700&display=swap');

@font-face {
    font-family: 'Verdana';
    src: url('fonts/Verdana.ttf');
    src: local('Verdana'), local('Verdana'),
    url('fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


::-webkit-scrollbar {
    width: 2px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #fff5;
    border: 0px none #ffffff;
    border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #7d7d7d;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #100f11;
    font-family: Lora;
}

.wrapper {
    flex-grow: 1;
}

header, .wrapper, footer {
    flex-shrink: 0;
}


h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    text-align: center;
    font-family: 'Philosopher'
}

header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    padding: 10px 18px;
    position: fixed;
    width: -webkit-fill-available;
    color: #fff;
    border-bottom: 1px solid #fff9;
    font-family: 'Philosopher';
}

header.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.left-logo-text {
    width: 30%;
}

#optionsButton {
    width: auto;
    height: 30px;
    display: block;
}

#optionsButton img {
    height: 100%;
}

.wrapper {
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textShow {
    color: #ffebc8;
    font-family: Verdana;
    font-size: 42px;
}

footer {
    position: relative;
    padding: 40px 18px;
    border: 1px solid rgba(255, 255, 255, 0.07);
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button img {
    width: 85%;
    height: 85%;
    margin: auto;
}

.button-area button {
    background: transparent;
    border: 0;
    cursor: pointer;
    width: 54px;
    height: 54px;
    display: flex;
}

.button-area .start-stop-btn {
    border-radius: 25px;
    background: #fff1;
    padding: 10% 5% 10% 15%;
}

#stopRead {
    padding: 10%;
}

.skip-btn {
    padding: 0.4%;
}


.wrapp-start-stop button.hide {
    display: none;
}

.popup {
    display: none;
}

.text-list {
    display: none;
}

.popup.show, .text-list.show {
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    position: fixed;
    width: 40vw;
    right: 0;
    height: 100vh;
    top: 0;
    background: rgb(40, 20, 20);
    padding: 20px;
    color: #fff;
    overflow: scroll;
    z-index: 11111;
    /*padding-bottom: 20px;*/
}

.text-list .wrap-text-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
}

.wrap-text-list a {
    text-decoration: none;
    color: #fff9;

}

.wrap-text-list p.active, .wrap-text-list a {
    padding: 5px;
    margin: 5px 5px;
    border-radius: 5px;
    border: 1px solid #fff1;
    cursor: pointer;
}

.wrap-text-list p.active {
    background: #fff5;
}

.progressdot-wrapper {
    position: absolute;
    width: 98%;
    height: 2px;
    top: -2px;
    left: 1%;
}

.progressdot-wrapper .fill {
    background: #fff;
    width: 0%;
    height: 2px;
    position: absolute;
}

.slider {
    width: 100%;
    left: 0%;
    height: 2px;
    top: 0;
    position: absolute;
    border-radius: 25px;
    cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
    background: #ddd8;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 25px;
    background: #fff;
}


/*ff*/


input[type=range]::-moz-range-track {
    height: 2px;
    background: #ddd8;
    border: none;
    border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 25px;
    background: #fff;
}

.close-btn {
    text-align: end;
}

.text-area {
    position: absolute;
    right: 7%;
    top: 45%;
}

#textList img {
    width: 30px;
    height: 30px;
}